<% if(errors.length> 0) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
        <% errors.forEach(error=> { %>
            <%= error %></br>
        <% }); %>
    </div>
<% } %>