<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="/css/home.css">
    <title>مجله آموزشی گیگاکد</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container">
            <a class="navbar-brand" href="/">مجله آموزشی گیگاکد</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">دوره‌ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">تماس با ما</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(auth.check) { %>
                        <li><a class="btn btn-success btn-sm me-2" href="/admin">پنل کاربری</a></li>
                        <li><a class="btn btn-danger btn-sm" href="/logout">خروج</a></li>    
                    <% } else { %>
                        <li><a class="btn btn-success btn-sm me-2" href="/login">ورود</a></li>
                        <li><a class="btn btn-primary btn-sm" href="/register">عضویت</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>