<div class="row pt-5 justify-content-center">
    <div class="col-8">
        <div class="card card-default">
            <div class="card-header">
                <h5>فراموشی رمز عبور</h5>
            </div>
            <div class="card-body">
                <form action="/auth/password/email" class="form-horizontal" method="POST" novalidate>
                    <%- include('./../../layouts/errors') -%>
                        <div class="col-12 mb-2">
                            <label for="email" class="form-label">آدرس ایمیل</label>
                            <input type="email" id="email" class="form-control" name="email" value="" required
                                autofocus>
                        </div>

                        <div class="col-12 mb-2">
                            <%- captchaDisplayDOM %>
                        </div>

                        <div class="col-12 mt-3">
                            <button type="submit" class="btn btn-primary">بازیابی رمز عبور</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- displayTag %>